@charset "utf-8";
.header_toper{/*页头，网页最顶的横幅*/
	height: 30px;
	background-color: #744953;/*调试用颜色*/
	}
.header_logor{/*页头，网页Logo行*/
	max-height:90px;
	/*background-color: #a02;调试用颜色*/
}
.header_logor [class*="span"]{/*页头，继承于Logo行*/
	height:70px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	background-color: #744953;/*调试用颜色*/
}
.yjyy{
	border: 1px solid #DDD;
	-moz-box-shadow:0px 2px 10px #333333; 
	-webkit-box-shadow:0px 2px 10px #333333; 
	box-shadow:0px 2px 10px #333333;
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	border-radius:5px;
}
.thumbnails > li {
margin-left: 0px;
margin-right: 20px;
}