@charset "utf-8";
.hearder_css{
	background-color: #b20000;
}

.header_toper{/*页头，网页最顶的横幅*/
	height: 25px;
	background-color: #8e0000;/*调试用颜色*/
	}
.header_logor{/*页头，网页Logo行*/
	max-height:90px;
	/*background-color: #a02;调试用颜色*/
}
.header-search-padding-top{padding-top:30px}
.span2_5 {
  width: 170px;
}
.span9_5 {
  width: 750px;
}

.yj{
	border: 1px solid #DDD;
	-moz-box-shadow:0px 2px 5px #333333; 
	-webkit-box-shadow:0px 2px 5px #333333; 
	box-shadow:0px 2px 5px #333333;
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	border-radius:5px;
}
.ybxj{
	-webkit-border-top-left-radius:15px;
	-webkit-border-top-right-radius:10em;
	-webkit-border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-topleft:15px;
	-moz-border-radius-topright:10em;
	-moz-border-radius-bottomright:15px;
	-moz-border-radius-bottomleft:15px;
	border-top-left-radius:15px;
	border-top-right-radius:10em;
	border-bottom-right-radius:15px;
	border-bottom-left-radius:15px;
}
.color-6EC5B8{/*底色*/
	background-color: #6EC5B8;/*调试用颜色*/
}

.color-F8F2E5{/*底色*/
	background-color: #F8F2E5;/*调试用颜色*/
}
.row-margin-topbottom-5{/*上下边界*/
	margin-top:5px;
	margin-bottom:5px;
}
.row-margin-left-0 {
  margin-left: 0px;
}
.row-automargin{
	margin-left:auto;
	margin-right:auto;
}

